
.ps-block {
    background-color: rgb(228, 224, 177);
    width: 500px;
    height: auto;
}
.forma {
    border: 1px solid black;
    width: 100%;
}

.check-block1 {
    background-color: gray;
      width: 33%;
      margin: 0;
      height: 20px;
      transition: 1s;
  }

.check-block2 {
    background-color: gray;
      width: 33%;
      margin: 0;
      height: 20px;
      transition: 1s;
  }

.check-block3 {
  background-color: gray;
    width: 33%;
    margin: 0;
    height: 20px;
    transition: 1s;
}

.check-field {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 10px 0px;
}

._red {
    background-color:red;
    width: 33%;
   
}

._yellow {
    background-color: yellow;
    width: 33%;
    
}

._green {
    background-color: green;
    width: 33%;
    
}

._grey {
    background-color: grey;

}
._pass-emty {
    background-color: red;
}